.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #4caf50, #81c784); /* Arrière-plan dégradé vert */
  padding: 20px;
  color: #343a40;
  position: relative;
  overflow: hidden;
}

.dashboard-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: auto;
  opacity: 0.8;
}

.dashboard-content {
  background: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px; /* Augmenter la largeur maximale */
  width: 100%; /* Assurez-vous que la carte occupe toute la largeur disponible */
  text-align: center;
  z-index: 1;
  animation: fadeIn 1s ease-in-out; /* Animation de fondu */
}

.dashboard-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

.dashboard-subtitle {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #6c757d;
}

.dashboard-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les boutons horizontalement */
}

.dashboard-button {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.dashboard-button-users {
  background-color: #007bff;
  color: #fff;
}

.dashboard-button-users:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dashboard-button-rooms {
  background-color: #28a745;
  color: #fff;
}

.dashboard-button-rooms:hover {
  background-color: #1e7e34;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dashboard-button-logout {
  background-color: #dc3545;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.dashboard-button-logout:hover {
  background-color: #c82333;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-content {
    width: 90%;
    padding: 20px;
  }

  .dashboard-buttons {
    flex-direction: column;
    align-items: center; /* Centrer les boutons lorsqu'ils sont en colonne */
    gap: 10px;
  }
}

/* Footer Styles */
.dashboard-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #6c757d;
  font-size: 0.875rem;
}
